<div class="o-contact__container">
  <h2>Contact</h2>
  <div class="c-header-divider"></div>
  <section class="c-contact-details">
    <h3>Connect with me</h3>
    <p>I am conveniently situated between Wakefield and Doncaster in Fitzwilliam, Wakefield and have access to the train station that connects to Leeds and Sheffield.</p>
    <p>I will be actively looking for work as a web developer as soon as I finish my course at {Pro}Coders.</p>
    <p>Feel free to contact me with any comments or inquires using the contact form or connect with me on social media.</p>
    <ul>
      <li><%= link_to "Twitter", "https://twitter.com/paulbrighton_" %></li>
      <li><%= link_to "Facebook", "https://www.facebook.com/paul.brighton.10" %></li>
      <li><%= link_to "Pinterest", "https://www.pinterest.co.uk/paulbrightonfda/" %></li>
      <li><%= link_to "LinkedIn", "https://www.linkedin.com/in/paulbrighton/" %></li>
    </ul>
  </section>
  <section class="contact-form">
    <%= render 'shared/contact-form' %>
  </section>
</div>