  <h2 class="admin__h2">Articles</h2>
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Date-Created</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @articles.each do |article| %>
            <tr>
              <td><%= link_to article.title, article_path(article), class: "table__links"%></td>
              <td><%= article.author %></td>
              <td><%= article.created_at.to_date %></td>
              <td><%= link_to 'Edit', edit_admin_article_path(article), class: "btn btn-warning"%></td>
              <td><%= link_to 'Delete', admin_article_path(article), 
                              method: :delete, 
                              data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
 
  <%= link_to 'New Post', new_admin_article_path, class: "btn btn-primary btn-lg" %>


