<div class="o-container">
  <%= render 'shared/header' %>

  <main>
    <section class="c-welcome">
      <div class="o-welcome__container">
        <h1 class="c-headers">Paul Brighton Web Development</h1>
        <div class="c-headers__divider"></div>
        <figure>
          <%= image_tag("welcome_image.jpg", alt: "An HTML illustration", class: "c-welcome__img") %>
        </figure>
        <p class="c-welcome__text">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire.</p>
        <p class="c-welcome__text">That they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.</p>
        <p class="c-welcome__text">That they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.</p>
      </div>
    </section>
    <section class="c-featured">
      <div class="o-featured__container">
        <h2 class="c-headers">Featured Article</h2>
        <div class="c-headers__divider--featured"></div>
        <div class="o-articles__container--featured">
          <%= link_to article_path(Article.featured), class: "c-article--path" do %>
            <div class="c-card__featured">
              <figure>
                <%= image_tag("html.jpg", alt: "An HTML illustration", class: "c-card__image") %>
              </figure>
              <div class="c-card__text--featured">
                <h3><%= Article.featured.title %></h3>
                <p><%= Article.featured.text.truncate_words(10) %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </section>
    <section class="c-section__latest">
      <div class="o-latest__container">
        <h2 class="c-headers">Latest Articles</h2>
        <div class="c-headers__divider"></div>
        <div class="o-articles__container">
          <% @articles.each_with_index do |article, index| %>
            <%= link_to article_path(article), class: "c-article--path" do %>
            <div class="c-card">
              <figure>
                <%= image_tag("mac_user.jpg", alt: "A mobile phone in a hand", class: "c-card__image") %>
              </figure>
              <div class="c-card__text">
                <h3><%= article.title %></h3>
                <p><%= article.text.truncate_words(10) %></p>
              </div>
            </div>
            <% end %>
          <% end %>
        </div>
        <p class="c-load__btn"><%= link_to "Load More..." %></p>
      </div>
    </section>
  </main>
  
  <%= render 'shared/footer' %>
</div>



