<div class="container">
  <%= render 'shared/header' %>
  <main>
    <div class="section__welcome">
      <div class="welcome__container">
        <h2 class="main__headers">Welcome</h2>
        <div class="header__divider"></div>
        <%= image_tag("welcome_image.jpg", alt: "An HTML illustration", class: "welcome__img") %>
        <p class="welcome__text">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and so blinded by desire, that they cannot foresee the pain.</p>
      </div>
    </div>
    <div class="section__featured">
      <div class="featured__container">
        <h2 class="main__headers main__headers--clear">Featured Article</h2>
        <div class="header__divider--featured"></div>
        <div class="articles__container--featured">
          <div class="card card__featured">
            <%= image_tag("html.jpg", alt: "An HTML illustration", class: "card__image") %>
            <div class="card__text">
              <h3>Modern CSS Tricks</h3>
              <p>CSS is the coolest thing in web development.</p>
              <div class="article__link"><%= button_tag "Read Article", type: "button", class: "article__link--btn" %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section__latest">
      <h2 class="main__headers">Latest Articles</h2>
      <div class="header__divider"></div>
      <div class="articles__container">
        <div class="card">
          <%= image_tag("mobile_first.jpg", alt: "A mobile phone in a hand", class: "card__image") %>
          <div class="card__text">
            <h3>Modern CSS Tricks</h3>
            <p>CSS is the coolest thing in web development.</p>
            <div class="article__link"><%= button_tag "Read Article", type: "button", class: "article__link--btn" %></div>
          </div>
        </div>
        <div class="card">
          <%= image_tag("html-css.jpg", alt: "A book on html and a laptop", class: "card__image") %>
          <div class="card__text">
            <h3>Modern CSS Tricks</h3>
            <p>CSS is the coolest thing in web development.</p>
            <div class="article__link"><%= button_tag "Read Article", type: "button", class: "article__link--btn" %></div>
          </div>
        </div>
        <div class="card">
          <%= image_tag("html-css.jpg", alt: "A book on html and a laptop", class: "card__image") %>
          <div class="card__text">
            <h3>Modern CSS Tricks</h3>
            <p>CSS is the coolest thing in web development.</p>
            <div class="article__link"><%= button_tag "Read Article", type: "button", class: "article__link--btn" %></div>
          </div>
        </div>
        <div class="card">
          <%= image_tag("html-css.jpg", alt: "A book on html and a laptop", class: "card__image") %>
          <div class="card__text">
            <h3>Modern CSS Tricks</h3>
            <p>CSS is the coolest thing in web development.</p>
            <div class="article__link"><%= button_tag "Read Article", type: "button", class: "article__link--btn" %></div>
          </div>
        </div>
        <div class="card">
          <%= image_tag("html-css.jpg", alt: "A book on html and a laptop", class: "card__image") %>
          <div class="card__text">
            <h3>Modern CSS Tricks</h3>
            <p>CSS is the coolest thing in web development.</p>
            <div class="article__link"><%= button_tag "Read Article", type: "button", class: "article__link--btn" %></div>
          </div>
        </div>
        <div class="card">
          <%= image_tag("html-css.jpg", alt: "A book on html and a laptop", class: "card__image") %>
          <div class="card__text">
            <h3>Modern CSS Tricks</h3>
            <p>CSS is the coolest thing in web development.</p>
            <div class="article__link"><%= button_tag "Read Article", type: "button", class: "article__link--btn" %></div>
          </div>
        </div>
        <p class="load__btn"><%= link_to "Load More..." %></p>
      </div>
    </div>
  </main>
  <%= render 'shared/footer' %>
</div>



