<%= render 'shared/header' %>

<article class="o-article__container">
  <div class="c-article">
    <h2 class="c-article__header"><%= @article.title %></h2>
    <div class="c-article__header--divider"></div>
    <h3 class="c-article__author">Article by <%= @article.author %></h3>
    <time class="c-article__published">Published: <%= @article.created_at.strftime("%d-%m-%Y") %></time>
    <figure>
      <%= image_tag("welcome_image.jpg", alt: "An HTML illustration", class: "c-article__image") %>
    </figure>
    <div class="c-article__text">
      <p><%= markdown(@article.text) %></p>
    </div>
    <h4 class="c-category">Categories:</h4>
    <div class="category__buttons">
      <%= button_tag "HTML", type: "button", class: "c-category__btn" %>
      <%= button_tag "CSS", type: "button", class: "c-category__btn" %>
      <%= button_tag "JavaScript", type: "button", class: "c-category__btn" %>
      <%= button_tag "Ruby", type: "button", class: "c-category__btn" %>
    </div>
  </div>
</article>

<%= render 'shared/comment' %>

<%= render 'shared/footer' %>


