
 <%= render 'shared/header' %>

<article class="article__container">
  <h2 class="article__header"><%= @article.title %></h2>
  <div class="article__header--divider"></div>

  <h3 class="author__title">Article by <%= @article.author %></h3>
  <time class="published__text">Published: <%= @article.created_at.strftime("%d-%m-%Y") %></time>
  <figure>
    <%= image_tag("welcome_image.jpg", alt: "An HTML illustration", class: "article__image") %>
  </figure>
  <div class="article__text">
    <p><%= @article.text %></p>
  </div>
  <h4 class="catagory__title">Catagories:</h4>
  <div class="catagory__buttons">
    <%= button_tag "HTML", type: "button", class: "c-catagory__btn" %>
    <%= button_tag "CSS", type: "button", class: "c-catagory__btn" %>
    <%= button_tag "JavaScript", type: "button", class: "c-catagory__btn" %>
    <%= button_tag "Ruby", type: "button", class: "c-catagory__btn" %>
  </div>
</article>

 <%= render 'shared/footer' %>


