<h3>Contact Form</h3>
<p>Fill in the contact form and I'll get back to you as soon as possible.</p>
<fieldset>
  <%= form_for @message ||= Message.new do |f| %>
    <%= render partial: "shared/form_errors", object: @message %>
    <%= f.text_field :name, placeholder: 'Enter name here.', class: "contact-form__input--short" %>
    <%= f.email_field :email, placeholder: 'Enter email here.', class: "contact-form__input--short" %>
    <%= f.text_area :body, placeholder: 'Enter message here.', class: "contact-form__input--tall" %>
    <%= f.submit 'Send', class: "contact-form__btn" %>
  <% end %>
</fieldset>
