<footer>
  <div class="footer__container">
    <nav class="footer__nav">
      <ul class="footer__nav--list">
        <li><%= link_to "home", '#' %></li>
        <li><%= link_to "about", '#' %></li>
        <li><%= link_to "portfolio", '#' %></li>
        <li><%= link_to "contact", '#' %></li>
      </ul>
    </nav>
    <div class="social__links">
      <h3>Social Media</h3>
      <div class="social__images">
        <%= link_to image_tag("twitter.svg",  alt: "Twitter logo", class: "social__icon") %>
        <%= link_to image_tag("facebook.svg", alt: "Facebook logo", class: "social__icon") %>
        <%= link_to image_tag("pinterest.svg", alt: "Pinterest logo", class: "social__icon") %>
        <%= link_to image_tag("linkedin.svg", alt: "LinkedIn logo", class: "social__icon") %>
      </div>
    </div>
    <div class="link__links">
      <h3>Useful Links</h3>
      <li><%= link_to "ProCoders Bootcamp", 'https://procoders.co.uk/', class: "link__item"%></li>
      <li><%= link_to "MDN Web Docs", 'https://developer.mozilla.org/en-US/', class: "link__item" %></li>
      <li><%= link_to "Ruby on Rails Guides", 'https://guides.rubyonrails.org/', class: "link__item" %></li>
      <li><%= link_to "CanIUse", 'https://caniuse.com/', class: "link__item" %></li>
    </div>
    <div class="about__info">
      <h3>About</h3>
      <p class="footer__info">Designed by Paul Brighton</p>
      <p class="footer__info">Built with Ruby on Rails</p>
      <p class="copyright__info">&copy; Copyright 2018 Paul Brighton</p>
    </div>
  </div>
</footer>